/******
    Form
   ******/

#progress {
    position: absolute;
    background: #0069ec;
    height: 100vh;
    width: 0;
    transition: width 0.2s ease-in-out;
}

.center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#blue-form {
    background: #fff;
    position: relative;
    width: 410px;
    padding: 2px 15px 20px 15px;
    transition: transform .1s ease-in-out;
}

#blue-form.close {
    width: 0;
    padding: 0;
    overflow: hidden;
    transition: .8s ease-in-out;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0);
}

.next {
    position: absolute;
    right: 20px;
    bottom: 10px;
    font-size: 40px;
    color: rgb(35, 124, 212);
    float: right;
    cursor: pointer;
}

.next:hover {
    color: #333
}

.wrong .next {
    color: #ff2d26
}

.close .next {
    color: #fff
}

.form-container {
    position: relative;
    width: 350px;
    margin-top: 25px;
    transition: opacity .3s ease-in-out;
}

.form-container table {
    margin: 0 auto;
}

.form-container input,textarea {
    width: 100%;
    padding: 0 18px;
    border: none;
    font-size: 16px;
    outline: 0;
    background: transparent;
    box-shadow: none;
}

.form-container .form-submit {
    border: none;
    outline: 0;
    background: transparent;
    box-shadow: none;
}

.form-container label {
    pointer-events: none;
    top: 0;
    left: 15px;
    color: #757575;
    font-size: 16px;
    font-weight: 300;
    padding: 0 5px;
    transition: .2s ease-in-out;
}

.form-container .input-label {
    position: absolute;
}

.form-container .input-addon {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    font-size: 16px;
    font-weight: bold;
    padding: 0 5px;
    transition: .2s ease-in-out;
}

.form-container input:valid+.input-label {
    top: -15px;
    font-size: 11px;
    font-weight: normal;
    color: #9e9e9e;
}

.form-container textarea+.input-label {
    top: -15px;
    font-size: 11px;
    font-weight: normal;
    color: #9e9e9e;
}

.form-container .input-subline {
    position: absolute;
    border-bottom: 2px solid rgb(35, 124, 212);
    padding: 3px 15px;
    width: 95%;
    margin-left: 5%;
    transition: width .6s ease-in-out;
}

.wrong .input-subline {
    border-color: #ff2d26;
}